body {
    text-align: center;
}

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

ul {
    display: inline-block;
  }

/*Class Tag */
.avatar {
    width: 27%;
    margin: 3% auto 0.625rem auto;
}

.banner {
    width: 95%;
    padding: 3%;
}

.col {
    padding: 5%;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: #e6e6e6;
    background-color: white;
}

.columns {
    text-align: center;
}

.container {
    padding: 1.2rem 0;
}

.container-fluid {
    padding: 1.2rem 0;
}

.design-work-heading {
    padding-top: 4%;
}

.is-skill-icon {
    width: 13%;
}

.list-title {
    color: #fcd34d;
    font-weight: bolder;
}

.nav-text {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.125rem 0.313rem;
    color: #ffbf00;
}

.section {
    text-align: center;
}

.section-long {
    padding-bottom: 18rem;
}

.skills {
    margin-top: -16.5rem;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.subtitle {
    margin: 0 auto 0 auto;
    font-family: 'Nunito', sans-serif;
    font-weight: 550 !important;
    font-size: 1.8rem;
}

.subtitle-welcome {
    margin: 0 auto 0 auto;
    font-family: 'Nunito', sans-serif;
    font-weight: 400 !important;
    line-height: 2.5rem;
}

.title {
    font-family: 'Exo', sans-serif;
    font-weight: 650 !important;
    font-size: 2.19rem;
}

.title-welcome {
    font-family: 'Exo', sans-serif;
    font-weight: 600 !important;
}

.title-1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    display: inline-block;
}

.title-2 {
    font-family: 'Exo', sans-serif;
    font-weight: 800 !important;
    font-size: 1.5rem;
}

.projects{
    padding: 9rem 4.5rem;
}

.welcome {
    display: inline-block;
    padding-bottom: 18rem;
    background-color: transparent;
    border-style: none;
}

.work {
    text-align: center;
}

.work-row1 {
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 3.125rem;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 0.625rem;
    border-color: #e6e6e6;
    background-color: #f8f9fa;
}

.work-row2 {
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 0.625rem;
    border-color: #e6e6e6;
    background-color: #f8f9fa;
}

.work-info-1 {
    text-align: center;
}

.work-info-2 {
    text-align: center;
}

.yellow-section {
    background-color: #ffd966;
    text-align: center;
}


/* Button Tag */
.btn-outline-primary {
    --bs-btn-active-bg: #ffd966 !important;
    --bs-btn-active-border-color: #ffd966 !important;
    --bs-btn-disabled-color: #ffd966 !important;
    --bs-btn-color: #000 !important;
    --bs-btn-border-color: #000 !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #ffd966 !important;
    --bs-btn-hover-border-color: #ffd966 !important;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #ffd966 !important;
    --bs-dropdown-link-active-bg: #ffd966 !important;
}

#stacktribe {
    width: 35%;
    float: right;
    padding-right: 2%;
}

#acec {
    width: 35%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
